# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# Coverage
# -----------------------------
.coverage
htmlcov/

# -----------------------------
# Build Files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Model Weights (DO NOT PUSH)
# -----------------------------
ml/image_detection/models/weights/

# Optional: ignore all model files anywhere
*.pth
*.pt
*.onnx
*.ckpt

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/